click>=8.1.7
# Keep crewai at version 0.130.0
# Other package versions are flexible and can be changed
# Only change crewai version if there are critical dependency conflicts that cannot be resolved by other means
crewai==0.130.0
crewai[google-genai]
crewai-tools
fastapi
google-ai-generativelanguage>=0.6.4
google-api-core>=2.10.0
google-api-python-client>=2.131.0
google-cloud-aiplatform==1.61.0
google-auth==2.47.0
google-auth-httplib2>=0.2.0
google-cloud-bigquery>=3.23.1
google-cloud-core>=2.4.1
google-cloud-resource-manager>=1.12.3
google-cloud-storage>=2.16.0
google-crc32c>=1.5.0
google-generativeai>=0.5.4
google-resumable-media>=2.7.0
googleapis-common-protos>=1.63.0
Jinja2>=3.1.4
jsonschema>=4.22.0
langchain-core>=0.1.52
langsmith>=0.1.67
numpy>=1.26.4
oauthlib>=3.2.2
onnxruntime>=1.18.0
openai>=1.30.5
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
pandas>=2.2.2
pillow>=10.3.0
pip>=24.0
protobuf>=4.25.3
pydantic>=1.10.13
pydantic_core>=2.8.0
pymupdf
typer>=0.24.0